<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />

    <!--ASP.NET 5 "dev" CI nightly builds-->
    <add key="AspNetFeed" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />

    <!--ASP.NET 5 "dev" nightly builds-->
    <!-- <add key="AspNetFeed" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" /> -->

    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
